@page
@model RazorPagesDemo.Pages.Forms.StudentFormModel
@{
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<h1>Student Information Form</h1>
<form method="post" enctype="multipart/form-data">
    <div>
        <input type="text" asp-for="Student.FirstName" placeholder="First Name" />
        <span asp-validation-for="Student.FirstName" />
    </div>
    <div>
        <input type="text" asp-for="Student.LastName" placeholder="Last Name" />
        <span asp-validation-for="Student.LastName" />
    </div>
    <div>
        <input type="text" asp-for="Student.Email" placeholder="Email Address" />
        <span asp-validation-for="Student.Email" />
    </div>
    <div>
        <input type="text" asp-for="Student.UniName" placeholder="University Name" />
        <span asp-validation-for="Student.UniName" data/>
    </div>
    <div>
        <input type="date" asp-for="Student.BirthDate" placeholder="Birth date" />
        <span asp-validation-for="Student.BirthDate" />
    </div>
    <div>
        <select asp-for="Student.Year">
            <option value="0">Select the year you are in</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <button type="submit">Submit</button>
</form>